
body{
    margin: 0;
}
header {
    text-align: center;
}
#header-backgroundcolor {
  
background-color: #f0ff5014;
width: 100%;
border-top: 4px solid;
border-color: #f0ff5094;
margin-bottom: 40px;

}
#header-backgroundcolor p{
    color: rgb(5 71 31);
    font-size: 0.7em;
}
.image-autor{
    color: #0000004f;
}
.featured {
   
   margin: 0;
   margin-left: 10px;
   
}
.v{
    border-left: 3px solid;
    border-color: #ffa50042;
    position: ;
    left: 400px;
    height: 40px;
  

}


main{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}
.Barra {
    border-bottom: 4px solid;
    border-color: #00e0e042;
    
    width: 750px;

    
   
}
li{
    margin-bottom: 20px;
}
Footer{
    margin-left: 20%;
    margin-right: auto;
    margin-top: 20px;
}
#first-img{
    margin-bottom: 20px;
}
.first-img{
   height: 70px;
}
#featuer-red{
    color: red;
}
.featuer-link{
    color: rgb(5 71 31);
}
.Video{
    width: 720px; 
    height: 480px;
}
.titolo{
    text-align: center;
}